.paperplane-cursor:hover {
  cursor: url("./paperplane.png"), auto;
}

.col-12 {
  margin: 0;
  padding: 0;
}

.border-radius {
  border-radius: 20px;
}

.p-75 {
  margin: 5vw;
}

.full-height {
  height: 100%;
}

.title-right-side {
  margin: auto;  
  padding-left: 2vw;
  padding-right: 2vw;
}