<div class="grid nested-grid h-30">
  <div
    class="col-6 p-5 bottom-border right-border align-items-center align-content-center"
    (mouseenter)="setCursorVisible(true)"
    (mouseleave)="setCursorVisible(false)"
  >
    <p
      class="bigger-heading flex justify-content-center"
      (mouseenter)="setCursorActive(true)"
      (mouseleave)="setCursorActive(false)"
    >
      TIMBAUHF
    </p>
  </div>
  <div class="col-6 bottom-border">
    <div class="grid nested grid h-100p">
      <div class="col-12 h-50p bottom-border p-3">
        <div class="grid">
          <div class="col-2">Projects</div>
          <div class="col-2">Experience</div>
          <div class="col-2">Contact</div>
        </div>
      </div>
      <div class="col-12 title-right-side">
        <p class="medium-heading ">
          {{ text.titleRightSide }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <app-projects></app-projects> -->

<div class="h-50 p-75 m-75 project full-border border-radius">
  <div class="col-12 flex align-items-center justify-content-center">
    <p class="big-heading">Currently working &#64; BASF Digital Solutions GmbH</p> <br>
    <p class="big-heading">Open for side projects</p>
  </div>
</div>

<app-project-scroll></app-project-scroll>

<!-- <div data-scroll class="grid nested-grid h-100">
  <div class="col-11 bottom-border right-border pl-5 pt-5"></div>
</div> -->
<app-footer></app-footer>
<app-blurry-cursor
  [isVisible]="isCursorVisible"
  [isActive]="isCursorActive"
></app-blurry-cursor>
