<div class="footer-container">
  <footer class="footer">
    <div class="content-container">
      <div class="section-1">
        <div class="nav-container">
          <div class="nav-column">
            <h3 class="column-header">About</h3>
            <p>Home</p>
            <p>Projects</p>
            <p>Our Mission</p>
            <p>Contact Us</p>
          </div>
          <div class="nav-column">
            <h3 class="column-header">Education</h3>
            <p>News</p>
            <p>Learn</p>
            <p>Certification</p>
            <p>Publications</p>
          </div>
        </div>
      </div>
      <div class="section-2">
        <h1 class="large-title">Sticky Footer</h1>
        <p>©copyright</p>
      </div>
    </div>
  </footer>
</div>
