.container {
  display: flex; /* Align children horizontally */
  flex-wrap: nowrap; /* Prevent wrapping */
  width: 100%; /* Ensure container spans full width */
  height: 100vh; /* Full viewport height */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.panel {
  flex: 0 0 100%; /* Each panel takes 100% of the viewport width */
  height: 100vh; /* Full viewport height */
}

.one {
  height: 100%;
  width: 100%;
  // background-color: #023047;
}

.two {
  height: 100%;
  // background-color: #8ecae6;
}