<div class="firstContainer">
  <h1>Testing horizontal scrolling with a single long section</h1>
</div>
<div class="container">
  <!-- <div class="description panel blue">
    <div>
      SCROLL DOWN
      <div class="scroll-down"><div class="arrow"></div></div>
    </div>
  </div> -->

  <section class="panel">ONE</section>
  <section class="panel">Two</section>
  <!-- <section class="panel">TWO</section> -->
  <!-- <section class="panel">THREE</section> -->
</div>
<!-- <div class="lastContainer">Last Container</div> -->
